{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">

        </div>
    </div>

    <div class="btn-group btn-group-lg" role="group" aria-label="..." id="blinkButtons">
        <button class="btn btn-default btn-lg" onclick="blink('{{ path('off') }}')">OFF</button>
    </div>

    <audio id="audioPlayer" style="display: none;"></audio>
    <div class="btn-group btn-group-lg" role="group" aria-label="..." id="audioButtons"></div>

{% endblock %}

{% block javascripts %}
    <script>
        var blinks = {{ blinks|json_encode()|raw }};
        var sounds = {{ sounds|json_encode()|raw }};

        window.onload = function () {
            addBlinkButtons(blinks);
            addAudioButtons(sounds);
        };

        function addBlinkButtons(blinks) {
            var blinkButtons = document.getElementById('blinkButtons');

            for (var i = 0; i < blinks.length; i++) {
                var blink = blinks[i];

                var blinkButton = document.createElement('button');
                blinkButton.setAttribute('class', 'btn btn-default btn-lg');
                blinkButton.setAttribute('style', 'background-color:#' + blink.color + ';');
                blinkButton.setAttribute('onclick', 'blink(\'' + blink.url + '\')');

                var name = document.createTextNode(blink.name);
                blinkButton.appendChild(name);

//                var blinkDiv = document.createElement('div');
//                blinkDiv.setAttribute('class', 'col-md-1');
//                blinkDiv.appendChild(blinkButton);
//                blinkButtons.appendChild(blinkDiv);

                blinkButtons.appendChild(blinkButton);
            }
        }

        function addAudioButtons(sounds) {
            var audioButtons = document.getElementById('audioButtons');

            for (var i = 0; i < sounds.length; i++) {
                var sound = sounds[i];

                var soundButton = document.createElement('button');
                soundButton.setAttribute('class', 'btn btn-default btn-lg');
                soundButton.setAttribute('onclick', 'playSound(\'' + sound.path + '\')');

                var name = document.createTextNode(sound.name);
                soundButton.appendChild(name);

//                var soundDiv = document.createElement('div');
//                soundDiv.setAttribute('class', 'col-md-1');
//                soundDiv.appendChild(soundButton);
//                audioButtons.appendChild(soundDiv);

                audioButtons.appendChild(soundButton);
            }
        }

        function blink(url) {
            var myRequest = new XMLHttpRequest();
            myRequest.open("GET", url, true);
            myRequest.send();
        }

        function playSound(sound) {
            audioplayer = document.getElementById('audioPlayer');
            audioplayer.src = sound;
            audioplayer.play()
        }
    </script>
{% endblock %}